absl-py==0.9.0
aiofiles==0.4.0
aiohttp==3.5.4
aioresponses==0.6.0
alabaster==0.7.12
alembic==1.0.11
apipkg==1.5
apixu==0.3.0
appdirs==1.4.3
APScheduler==3.5.1
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.3.0
Automat==0.8.0
aws-sam-translator==1.20.0
aws-xray-sdk==2.4.3
azure-common==1.1.24
azure-nspkg==3.0.2
azure-storage-blob==1.0.0
azure-storage-common==1.0.0
azure-storage-nspkg==3.1.0
Babel==2.8.0
black==19.10b0
blis==0.2.4
boto==2.49.0
boto3==1.11.8
botocore==1.14.8
bz2file==0.98
cachetools==4.0.0
certifi==2019.11.28
cffi==1.13.2
cfn-lint==0.26.3
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
colorclass==2.2.0
coloredlogs==10.0
colorhash==1.0.2
ConfigArgParse==0.13.0
constantly==15.1.0
cookies==2.2.1
coverage==5.0.3
coveralls==1.7.0
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
cytoolz==0.9.0.1
decorator==4.4.1
dill==0.2.9
dnspython==1.16.0
docker==4.1.0
docopt==0.6.2
docutils==0.15.2
dopamine-rl==3.0.1
ecdsa==0.15
en-core-web-sm==2.0.0
entrypoints==0.3
execnet==1.7.1
fakeredis==0.10.3
fbmessenger==5.6.0
flake8==3.7.8
Flask==1.0.2
Flask-Cors==3.0.7
Flask-JWT-Simple==0.0.3
freezegun==0.3.12
ftfy==4.4.3
future==0.17.1
gast==0.2.2
gevent==1.4.0
gin-config==0.3.0
gitdb2==2.0.6
GitPython==3.0.5
google-api-core==0.1.4
google-api-python-client==1.7.11
google-auth==1.10.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-cloud-core==0.28.1
google-cloud-storage==1.7.0
google-pasta==0.1.8
google-resumable-media==0.5.0
googleapis-common-protos==1.6.0
graphviz==0.7.1
greenlet==0.4.15
grpcio==1.26.0
gunicorn==20.0.4
gym==0.15.4
h11==0.8.1
h2==3.1.1
h5py==2.7.1
hpack==3.0.0
httpcore==0.3.0
httplib2==0.17.0
httptools==0.0.13
humanfriendly==4.18
hyperframe==5.2.0
hyperlink==19.0.0
idna==2.8
idna-ssl==1.1.0
imagesize==1.2.0
importlab==0.5.1
importlib-metadata==1.4.0
importlib-resources==1.0.2
incremental==17.5.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
jieba==0.39
Jinja2==2.10.3
jmespath==0.9.4
jsondiff==1.1.2
jsonpatch==1.24
jsonpickle==1.0
jsonpointer==2.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.1
kafka-python==1.4.7
Keras==2.0.8
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kfac==0.2.0
kiwisolver==1.1.0
klein==17.10.0
Mako==1.1.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.4
mattermostwrapper==2.1
mccabe==0.6.1
mesh-tensorflow==0.1.9
mitie==0.7.0
mock==3.0.5
mongomock==3.18.0
more-itertools==8.1.0
moto==1.3.8
mpmath==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multidict==4.6.1
murmurhash==1.0.2
nbsphinx==0.3.2
networkx==2.2
ninja==1.9.0.post1
notebook==6.0.2
numpy==1.16.6
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.1.2.30
opt-einsum==3.1.0
packaging==18.0
pandoc==1.0.0b2
pathlib==1.0.1
pathspec==0.7.0
pika==0.12.0
Pillow==7.0.0
pipenv==2018.11.26
plac==0.9.6
pluggy==0.13.1
ply==3.11
preshed==2.0.1
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.2
protobuf==3.11.2
psycopg2-binary==2.8.2
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pydot==1.4.1
pyflakes==2.1.1
pyglet==1.3.2
PyHamcrest==2.0.0
PyJWT==1.7.1
pykwalify==1.7.0
pymongo==3.7.2
pypandoc==1.4
pyparsing==2.4.6
pypng==0.0.20
pyrsistent==0.15.7
PySocks==1.7.1
pytest==5.1.3
pytest-cov==2.7.1
pytest-forked==1.1.3
pytest-localserver==0.5.0
pytest-sanic==1.0.0
pytest-xdist==1.29.0
python-crfsuite==0.9.6
python-dateutil==2.7.5
python-editor==1.0.4
python-engineio==3.11.2
python-jose==3.1.0
python-socketio==3.1.2
python-telegram-bot==11.1.0
pytype==2019.7.11
pytz==2018.9
PyYAML==5.3
pyzmq==18.1.1
qtconsole==4.6.0
questionary==1.5.1
rasa==1.6.1
rasa-core==0.13.8
rasa-core-sdk==0.12.2
rasa-nlu==0.14.6
rasa-sdk==1.6.1
rasa-x==0.24.1
redis==2.10.6
regex==2018.1.10
requests==2.22.0
requests-async==0.5.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
responses==0.9.0
rfc3986==1.3.2
rocketchat-API==0.6.36
rsa==4.0
ruamel.yaml==0.15.85
ruamel.yaml.clib==0.2.0
s3transfer==0.3.2
sanic==19.9.0
Sanic-Cors==0.9.9.post1
sanic-jwt==1.3.2
Sanic-Plugins-Framework==0.8.2
scikit-learn==0.20.2
scipy==1.4.1
semantic-version==2.8.3
Send2Trash==1.5.0
sentinels==1.0.0
setuptools-scm==3.3.3
simplejson==3.17.0
six==1.11.0
sklearn-crfsuite==0.3.6
slackclient==1.3.2
smmap2==2.0.5
snowballstemmer==2.0.0
sortedcontainers==2.1.0
spacy==2.0.18
Sphinx==2.3.1
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
SQLAlchemy==1.3.12
srsly==1.0.1
sympy==1.5.1
tabulate==0.8.6
tensor2tensor==1.14.0
tensorboard==1.12.2
tensorflow==1.12.0
tensorflow-datasets==1.3.2
tensorflow-estimator==1.15.1
tensorflow-gan==2.0.0
tensorflow-hub==0.6.0
tensorflow-metadata==0.21.0
tensorflow-probability==0.7.0
tensorflow-text==1.15.1
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
thinc==6.12.1
toml==0.10.0
toolz==0.10.0
tornado==6.0.3
towncrier==19.2.0
tqdm==4.29.1
twilio==6.35.3
Twisted==19.10.0
typed-ast==1.4.1
typing==3.6.6
typing-extensions==3.7.4.1
tzlocal==2.0.0
ujson==1.35
uritemplate==3.0.1
urllib3==1.25.8
uvloop==0.14.0
virtualenv==16.7.9
virtualenv-clone==0.5.3
wasabi==0.6.0
wcwidth==0.1.8
webexteamssdk==1.2
websocket-client==0.54.0
websockets==8.1
Werkzeug==0.16.0
widgetsnbextension==3.5.1
wrapt==1.10.11
xmltodict==0.12.0
yarl==1.4.2
zipp==0.6.0
zope.interface==4.7.1
